//LEFT SECTION STYLES

.p-tile_text{
  font-weight: 500;
  font-size: 1.2rem;
}
.p-name{
  font-weight: 700;
}
.p-tag{
  color: rgb(238, 238, 238);
}

//MIDLE SECTION STYLES

.p-text1{
  padding: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}
.btn-middle_post{
  font-family: Roboto,Arial;
  font-weight: 700;
}
