$primary_color:black;
$secondary_color:rgb(29, 155, 240);
$text_color:white;
$text_color2:rgb(126, 126, 126);
$hover:rgb(41, 41, 41);
$hover2:rgb(112, 112, 112);
$hover3:rgb(0, 196, 0);
$hover4:rgb(253, 45, 73);
$hover5:rgb(96, 0, 250);
$border:rgb(73, 73, 73);

$main-width:1250px;

@mixin theme($light_theme:true){
  @if($light_theme){
    background: lighten($primary_color,100%);
    color: darken($text_color,100%) ;
  }
  @else{
    background: darken($primary_color,100%);
    color: lighten($text_color,100%);
  }
}
